certifi==2022.5.18.1
charset-normalizer==2.0.12
coverage==6.4.1
decorator==5.1.1
idna==3.3
jsonpath-ng==1.5.3
ply==3.11
requests==2.28.0
robotframework==5.0.1
robotframework-jsonlibrary==0.4.1
robotframework-requests==0.9.3
robotframework-stringformat==0.1.8
six==1.16.0
urllib3==1.26.9
